@{
    ViewBag.Title = "Application";
}

<h2>Application</h2>

<h3>Your application was unable to be created, please join <button onclick="CCPEVE.joinChannel('HOPPS BREWERY');">HOPPS BREWERY</button> to contact a recruiter regarding this.</h3>

