@model HoppsWebPlatform_Revamp.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}


<h1>@ViewBag.message</h1>
<hr />

<h3>Login VIA EVE Onlines Website.</h3>
<h3>More details on how this works can be found <a href="http://community.eveonline.com/news/dev-blogs/eve-online-sso-and-what-you-need-to-know/" target="_blank">Here.</a></h3>


<a href="@Url.Action("EVELogin", "Account")"><img src="~/Images/EVE_SSO_Login_Buttons_Large_Black.png" /></a>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
