@model HoppsWebPlatform_Revamp.Models.RecruitmentApplication
@{
    Layout = null;
}

<fieldset id="application-question-list">
<legend>Application</legend>
@{
    bool questionSwitch = true;
    
    <div class="question-description">Notes</div>        
    <div>@Html.Raw(Model.Notes)</div><br /> 
     
    foreach (HoppsWebPlatform_Revamp.Models.RecruitmentApplicationQuestion question in Model.Questions)
    {
        <div class="@{if (questionSwitch)
                      {<text>application-question-1</text>}
                      else
                      {<text>application-question-2</text>}}">
            <div class="question-description">@question.Description</div>
            <div>@question.Answer</div>
            <hr />
        </div>
        questionSwitch = !questionSwitch;
    }
}
</fieldset>
