@model Dictionary<string, string>
@{
    Layout = null;
}
@Model["Reciever"],
After the routine Security and Background check, we are pleased to accept your application to The Drunken empire.

Please get in contact with <url=showinfo:1377//467734484>Natalie Cruella</url> or if he is unavailable, any other director in order to proceed with your introduction into the corporation.

Whilst you are waiting to join, please make sure the following is completed

Register on alliance website: <a href="https://www.fatal-ascension.com/">https://www.fatal-ascension.com/</a>
Apply to the corporation. : <url=showinfo:2//98038363>The Drunken Empire</url>
Download Teamspeak 3: <a href="http://www.teamspeak.com/?page=downloads">http://www.teamspeak.com/?page=downloads</a>
Download a jabber client: <a href="https://pidgin.im/download/">https://pidgin.im/download/</a> (Recommeded)
Download Mumble: <a href="http://mumble.sourceforge.net/">http://mumble.sourceforge.net/</a>

Welcome!

@Model["Sender"]
-Recruiter, The Drunken Empire.

