@{
    ViewBag.Title = "Admin";
}

<h2>Administration</h2>

@Html.ActionLink("Configuration", "Configuration")<br />
@Html.ActionLink("Recruitment", "Recruitment")<br />
@Html.ActionLink("Maintenance", "Maintenance")